body{display:flex ;flex-direction: column;align-content: center;align-content: center;
    margin: 0px;padding: 0px;
    ;width: 100% ;background-color: rgb(24, 23, 51);}
    .container{width: 100vw;margin: 0%;padding: 0px;
        display:flex ;flex-direction: column;align-content: center;}
 ::selection{background-color: rgb(21, 66, 132);color: goldenrod;}
   ::-webkit-scrollbar{
    color: gold;
   }
   #rafan{
    filter: blur(0px)
   }
   #rafan:hover{
    transform: scale(1);background-size: cover;
   }
   button:hover{
    transform: scale(1.1);transition: 1s;
   }
 svg{width: 20px;}
    .phone{
        background-image:linear-gradient(90deg, rgb(21, 66, 132), rgb(35 33 74),rgb(24, 23, 51)) 
         ;width:80%;    margin: 5px;padding: 10px;
        font-size: 2.5rem;border-radius: 62px;box-shadow:-7px 2px 19px 0.0011px #000000a7;
        padding-top: 0;padding-bottom: 0;padding-right: 20px;
        padding-left: 20px;height: max-content;color: rgb(255, 255, 255);
        margin-bottom: 0%;
    }
    .phone span,.phone h3{
        margin-top: 0;margin-bottom: 0;padding: 10px;font-size: 1.5rem;
    }
    .phone span{
        color: rgb(186, 159, 4);
    }
    .phone svg{
        font-size: 2rem;
    }
.container{
        display:flex ;flex-direction: column;
        align-items: center;justify-content: center;
        background-color: rgb(24, 23, 51);
    }

.contair-min{
    display: flex;flex-direction: row;width: 100vw;
    justify-content:center;
    padding-top: 5px;padding: 2%;
   margin-top: 0%;margin-bottom: 0%;
}
.login-2-min svg{
    fill: white;
}
.login{background-color:  rgb(24, 23, 51);
    width: 100%;
    display: flex;flex-direction: row;width: 100%;
 justify-content: space-between;height:max-content;
;margin-top: 0%;
 align-content: center;align-items: center;
}
.login-1{
    margin-top: 0%;margin-left: 2%;
}
.login-1 svg{
    height: 10px;width: 10px;
}
.svg svg{
    width: 20px;float: top;border-radius: 61px;
}
.login-2-min{
    background-color: rgb(160, 29, 29);width: max-content;display: flex;
    flex-direction: row;border-radius: 5px;padding: 10px;height:max-content;padding: 5px;
    vertical-align:0;color: white;margin-top: 0px;
    font-size: 1.5rem;
}
.login-2-min p{
    margin: 0%;padding: 2%;
}
.login-2{display: flex;flex-direction: row;width: max-content;
    margin-right: 2%;
}
 a{
    text-decoration: none;
}

.stikey{
    position: sticky;top: 0;z-index: 66;width: 100vw;
}
.line a{
    margin: 0px;padding: 0%;text-decoration: none;color: black;
}
.line{
    display: flex;flex-direction: row;
    justify-content: space-around;align-content: center;
    align-items: center;margin: 1px;background-color: white;width: 100%;
}
.line-1{
    margin: 2%;width:max-content;font-size: 1.75;
    text-align: center;display: flex;flex-direction: column;
    ;align-items: center;
}
.img{
    vertical-align: top;
    height: 2.6rem;
    width: 2.6rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    fill: #181733;
}
#taj{background-image:url(https://fcbarcelona-static-files.s3.us-east-1.amazonaws.com/mobile-slider/nextmatch.svg)}
#img{
    background-image:url(https://fcbarcelona-static-files.s3.us-east-1.amazonaws.com/mobile-slider/uniform.svg)
}
#tiket{background-image:url(https://fcbarcelona-static-files.s3.us-east-1.amazonaws.com/mobile-slider/ticket-full.svg)}
#kora{background-image:url(https://fcbarcelona-static-files.s3.us-east-1.amazonaws.com/mobile-slider/culers-ball.svg)

}
#tv{background-image:url(https://fcbarcelona-static-files.s3.us-east-1.amazonaws.com/mobile-slider/video-full.svg)}




.pedri{

width: 100vw;height: 60vw;;display: flex;align-items: end;
;font-size: 1rem;justify-content: center;
}


.container-min2{transition: background-size 0.5s ease; 
    display: flex;flex-direction: column;width: 100vw;background-image: url(https://www.fcbarcelona.com/photo-resources/2025/01/21/65255054-2e2c-4f72-a8c6-100e3fa435d6/mini__MGA4173.jpg?width=1200&height=750);
    align-items: center;align-content: center;height:60vh;
    justify-content: end;background-position:center;background-repeat: no-repeat;background-size: cover
}
.container-min2:hover{
background-size:120% ;transform: scale(1.1);
}
.pp1{
display: flex;flex-direction: column;align-items: center;width: 100%;text-align: center;
align-content: center;justify-items: end;justify-content: end;color: white;
height: 20vh;font-size: 2.5rem;background-image: linear-gradient(rgba(13, 67, 154, 0.201),rgba(13, 67, 154, 0.484),rgba(22, 22, 71, 0.755),black);
}
.pp1 h4{
    margin: 10px;font-size: 0.75rem;color: goldenrod;
}
h4{
    display: flex;flex-direction: row;width: 100%;
}
.h4{
    width: 1rem;height: 0.75rem;background-color:goldenrod ;margin-right: 1%;
}
.vs svg ,.vs img{
    width: 4rem ;height: 4rem;

}
.contair-min3-1{
        width: 100vw;display: flex;flex-direction: row;
        justify-content: center;align-items: center;
        height: 110%;flex-wrap: wrap;
}
.contair-min3{
    background-image:linear-gradient(180deg,#080e1f ,#0e1f4e ,#461117 ,#5e1821,#a71b2e0b);

}
.wast-olmo {
background-color: #0e1f4ec8;color: #ffffff;
line-height:4vh;font-size: 1vw;
}
.wast-olmo p{
    display: none;

}
.wast-olmo:hover p{
    display:contents;
}
.line-12{background-color: white;margin: 20px;display: flex;flex-direction: column;
width:450px;height: 300px;}
#valen{
    background-image: url(Valencia.jpg);

}
#hero{
    background-image: url(hero.jpeg);
}
#hero:hover{
    background-image: url(pedri.png);
    background-size: cover;
}
#olmo{
    background-image: url(olmo.webp);
}
#olmo:hover{
    background-image: url(omo-hover.webp);

}
#valen:hover{
    background-image: url(valencia-hoover.webp);
}
.contair-cubarsi{background-size:cover;width: 100%;
    height: 300px;background-repeat:no-repeat;background-position: center;
    display: flex;flex-direction: column;justify-content: end;
    transition: 2s;
}

.contair-cubarsi:hover p{
    display: contents;
    
}
.colmn h4{
    color: goldenrod;font-size: 0.75;
}
.contair-min3b-2{
   height: max-content;; width: 100vw;display: flex;flex-direction: row;
   justify-items: center;justify-content: center;
}
.contair-min3b-2 svg {
    width: 4rem;height: 4rem;margin-top:9vh;
}
@media(max-width:580px){

    .wast-olmo{
        line-height: auto;
        font-size: 1rem;
    }
    .line-1 .img {width: 1.5rem;height: 1.5rem;}
    .line-1{font-size: .5rem;}
    .Maillot-img img{
        width: 80vw
    }
     .Maillot details{font-size: 1.5rem;}
    details p{
        font-size: 1rem
    }
    .tous h1{
        font-size: 1.3rem;
    }
    .cloth a,.cloth2 a{
        width: 100vw;
        height: 50vh;margin: 0;background-image: url(https://store.fcbarcelona.com/cdn/shop/files/Main-Banner-SV-2025-400x460-m-v1.1.jpg?v=1737724573&width=1200);
    }
    
    ul{
        width: 25vw;
    }
    .player{
       max-width: min-content;
    }
.media,.koba div{width: 40vw;margin: 0px;padding: 0px;}
.fin1{width: 100%;padding: 2%;padding-left: 3%;padding-right: 3%;}

.fin{width: max-content;}
.contair-4-min{width: 100vw;}
.phone h3{
    font-size: 1rem;padding: 0;
}
.phone span {
    font-size: 1rem;margin: 5%

};
#olmo{
    background-image: none;background-color: #0e1f4ec8;
 }
 #hero{
    background-image: none;background-color:#0e1f4ec8
 }
 #valen{
    background-image: none;background-color: #0e1f4ec8;
 }
 #valen:hover{
    background-image: none;
 }
 #hero:hover{
    background-image: none;
 }
 #olmo:hover{
    background-image: none;
 }
 .contair-min3-1{
    width: 100%;flex-direction: column;


 }
 .line-12{
    flex-direction: row;flex-direction: row;height: 150px;width: 100vw;
 }
 .mrabya{
    background-image: url(olmo.webp);width: 35vw;;background-size: cover;
    background-position: center;background-repeat: no-repeat;

 }
 .mrabya2{
    background-image: url(hero.jpeg);width: 35vw;;background-size: cover;
    background-position: center;background-repeat: no-repeat;

 }
 .mrabya3{
    background-image: url(Valencia.jpg);width: 35vw;;background-size: 100% 150%;
    background-position: center;background-repeat:space;


 }

 .contair-cubarsi{
    flex-direction: row;height: 150px;background-color: #091f5b;justify-items: center;
    justify-content: center;align-items: center;
 }
 .colmn{
    display: flex;flex-direction: column;width: 65vw;text-align: center;vertical-align:50%;
 }
 .wast-olmo p{
    display: contents;height: 100%;overflow: scroll;
 }
 .wast-olmo{height: 100%;justify-content: center;align-items: center;
align-content: center;}
 .colmn h4{margin:0 ;padding: 0;justify-content: center;}
 .pasion span{font-size: 3rem;}
 
}
.pasion{
    width: 100%;height:max-content;overflow-x: hidden;
}
.pasion span{
    width:max-content;font-size: 3rem;color: white;    
font-size: 13rem;margin-right: 5vw;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: uppercase;
}

.pasion h1 {
    display: flex;
    gap: 20px;width:max-content;
    white-space: nowrap;z-index: 2;
    animation: scrollText 100s linear 0s infinite;
        background: linear-gradient(90deg, #004D98,rgb(196, 97, 230), #c20956,rgb(161, 2, 2),#c20956,rgb(196, 97, 230),#004D98);
    background-size: 200% 200%;margin-right: 0vw;
    background-clip:text;;
    -webkit-text-fill-color: transparent;
   
}



@keyframes scrollText {
        0% {
          transform: translateX(30%);
        }
        100% {
          transform: translateX(-100%);
        }
      }

.contair-4{
width:max-content;flex-wrap: wrap;overflow-x: auto;
height:max-content;display: flex;flex-direction:row;justify-items: center;
justify-content: center;width: 100vw;
;
      }

      .contair-4-min{
        display:inline-flex;flex-direction: column;padding: 0;
        width: 500px;;align-content: center;height: max-content;
        align-items: center;background-image: linear-gradient(230deg,rgb(24, 23, 51), rgba(0, 0, 0, 0.318),rgb(24, 23, 53), rgba(28, 26, 92, 0.701),rgba(255, 255, 255, 0.499));margin: 3%;
        margin-left: 5%;margin-right: 5%;
        align-self:stretch;border-radius: 15px;
      }
      .contair-4-min img{
        width: 50px;height: 50px;
      }
      .contair-4-min svg{
        width: 50px;height: 50px;
      }
      .contair-4-min h3{width: 100%;
        background-color: #6a520a2a;color: rgb(255, 255, 255);
        text-align: center;
      }
      .contair-4-min .vs {
        display: flex;flex-direction: row;
      }
      .contair-4-min span{
        font-size: 1.5rem;background-color: #6a520a2a;color: white;
        height: max-content;margin: 5%;width:100%;text-align: center;
      }
      .fin{
        width: 100vw;height: max-content;margin: 0%;padding: 0%;
        background-color: #080e1f;justify-items: center;
        flex-direction: column;
        justify-content: center;align-items: center
      }
      .fin1,.fin2{display: flex;width:100%;justify-items: center;
        flex-direction: row;flex-wrap: wrap;padding: 2%;
        justify-content: center;align-items: center;color: white;}
.fin svg{
    fill: white;width:30px;height: 30x
}

.player{
    display: flex;flex-direction: row;width:max-content;
    flex-wrap: wrap;
}

.player h4{
    text-align: center;font-size: 1.8rem;
}
ul{
    list-style:none;
}
.media{
    max-width: 15.8rem;min-width: 10.4rem;min-height: 10rem;margin-top: 2%;
    flex-direction: column;justify-items:center;
    ;align-content:end;text-align: center;margin: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#instagram{
    background-image: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d);
}
a:hover{
    transform: scale(1.1);
}
#youtub{
    background-color: red
}
#spoty{
    background-color:#1acf5d;
}
#twitter{
    background-color: #55acee;
}
#fecbok{
    background-color: #3b5998;
}
#discord{
    background-color: #5865f2;
}

#tik-tok{
    background: black;fill: white
}
.finison-barca{
    width: 100vw;height: 26vh;font-size: 3rem;
    display: flex;flex-direction: row;
    justify-content: center;align-content: center;
}
.finison-barca h1{
   background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.749),rgba(218, 165, 32, 0.842),#00000087);
   background-clip: text; -webkit-text-fill-color: transparent;
   cursor:help
}
.finison-barca h1::selection{
    background-color: rgba(255, 255, 255, 0.386);
}
.finison-barca svg {
    width: 100px;height: 100px;fill: black;


}
@media(max-width:690px){
         .continer-barca-login h1{vertical-align: 40%;
        font-size: 8vw;
      } 
      .finison-barca{
        font-size: 1.5rem;color:white;
    }
    .finison-barca svg{
        width: 50px;height: 50px;
    }

}
.tous{
    width: 100%;height: 70vw;
    background-image: url(https://store.fcbarcelona.com/cdn/shop/files/Main-Banner-SV-2025-2344x1200-d-v1.1-CAT_9cf1574a-15bb-4213-90fb-03f1e8bcfb50.jpg?v=1737973460&width=1780);
    box-shadow: 10 10 10 black;padding:5px;margin-bottom: 1vh;color: goldenrod;
    display: flex;justify-content: center;align-items: center;font-size: 4rem;
    background-size: cover;background-repeat: no-repeat;
        background-position: center;
}

.cloth,.cloth2{
    width: 100vw;height: max-content;flex-wrap: wrap;
    display:flex;flex-direction: row;margin-top: 1vh;
    justify-content: center;align-items: center;
}
.cloth h3 ,.cloth2 h3{
    background-image: linear-gradient(180deg,white,goldenrod,#000000b6);
    background-clip:text;text-align: center;
    -webkit-text-fill-color: transparent;
}
.cloth h3::selection ,.cloth2 h3::selection{
    background-color: #004c989a;
}
.cloth a,.cloth2 a{
    width: 750px;height:600px;background-position: center;background-size: 100% 100%;
    display:flex;flex-direction: row;flex-wrap: wrap;margin: 10px;
justify-content: center;align-items: center;font-size: 2vw;color: white;}

    #projet1{
        background-image:url(https://store.fcbarcelona.com/cdn/shop/files/IMG_7910.jpg?v=1737554507&width=823)
    }
        #projet2{
        background-image: url(https://store.fcbarcelona.com/cdn/shop/files/Main-Banner-Family_Match-750x938-m_1.jpg?v=1736326286&width=1420);
    }
    #projet3{
        background-image: url(//store.fcbarcelona.com/cdn/shop/products/700x1060-DX4806-015-1.jpg?v=1680014710&amp;width=1946);
    }
    #projet4{
        background-image: url(//store.fcbarcelona.com/cdn/shop/files/229575-7601_1.jpg?v=1734517019&amp;width=1946);
    }
    #projet5{
        background-image: url(//store.fcbarcelona.com/cdn/shop/files/CORE-II3860.jpg?v=1732102453&amp;width=1946);
    }
    #projet6{
        background-image: url(//store.fcbarcelona.com/cdn/shop/files/CORE-II4178.jpg?v=1732102372&amp;width=1946);
    }
    #projet7{background-image: url(https://store.fcbarcelona.com/cdn/shop/files/IMG_5604.jpg?v=1734430253&width=823);}
    #projet8{
        background-image: url(//store.fcbarcelona.com/cdn/shop/files/BARCA_Capsula_Abril_24_FOTO_26_2089_7c246be6-2d82-4fea-b466-bce8af7d4a1d.jpg?v=1735547657&amp;width=1420);
    }
    #projet9{
        background-image: url(//store.fcbarcelona.com/cdn/shop/files/75556_1.jpg?v=1722518098&amp;width=1946);
    }    #projet10{
        background-image: url(//store.fcbarcelona.com/cdn/shop/files/FCBESSENTIALSMASC2514.jpg?v=1720609288&amp;width=1946);
    }  
    #projet1,#projet9,#projet2,#projet3,#projet4,#projet5,#projet6,#projet7,#projet8,#projet10{
        border-radius: 40px;transition: 1s;
    }
    .cloth a ,.cloth2 a ,#Sevilla,#Sevilla1,#Sevilla2{
        filter: grayscale(100%);transition: 1s;
    }
    .cloth a:hover, .cloth2 a:hover,#Sevilla:hover,#Sevilla1:hover,#Sevilla2:hover{
        filter: grayscale(0%);
    }
    @keyframes scroll {
       from{opacity: 0;
        scale:0.5} 
        to{
            opacity: 1;
            scale: 1;
        }
    
    }
     .cloth a, .cloth2 a,.line-12,.fin1 a,#Sevilla,#Sevilla1,#Sevilla2,.footer-trophies{
        animation:scroll linear;
        animation-timeline: view();
        animation-range:entry 0 cover  50%;

     }
     .Maillot{
       width: 100vw;background-color: white
     }
     .Maillot-img{
        display: flex;flex-direction: row;
        overflow-x: scroll;scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
       
     }
     .Maillot img{
       height:80vh;margin:3%;
     }
     .Maillot-p{
        display: flex;flex-direction: column;align-items: center;
     }

     .Maillot button{margin-bottom: 35vh;width: 45vw;height: 10vh;background-color: gold;justify-self: center;}
     .Maillot label{
        font-size: 2rem;text-transform: uppercase;
     }
     details ul{
list-style: circle;width: 80vw;text-align: center;margin-left: 5vw;margin-right: 5vw;
     }
.Maillot p{
    width: 90vw;text-align: center;
    display: flex;justify-content: center;margin-left: 5vw;margin-right: 5vw;
}
     details{width: 100vw;margin-bottom: 5vh;text-align: center;
      font-size: 3rem;color: rgb(0, 0, 0);
     }
     select{font-size: 1.75rem;}
     option{font-size: 2rem;}

     .continer-barca-one ,.continer-barca-login{background-image: url('https://fcb-cdn-global.interactvty.net/web_access_block/images/fondo.png');
        width: 100vw;height: 110vh;
        display: flex;flex-direction: column;font-size: 2rem;
        color: white;background-size: cover;background-repeat: repeat;
        align-items:  center;justify-content: center;

     }
     .continer-barca-one img{width: 50vw;height: max-content;}
     .continer-barca-one p{
        text-align: center;
     }
     .continer-barca-one button{
        width: 40vw;height: 5vh; border-radius: 30px;  background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.749),rgba(218, 165, 32, 0.842),#00000087);
        background-clip: text; -webkit-text-fill-color: transparent;
        cursor:help;
        color: white;font-size: 1.5rem;

     }

     .continer-barca-login input{
        width: 50vw;margin: 2vh;height: 8vh;background-image: linear-gradient(rgb(255, 255, 255),goldenrod,rgb(0, 0, 0))
        ;  background-clip:text;caret-color: goldenrod;
          -webkit-text-fill-color: transparent;;background-color: #0c1e72;
        font-size: 3vw;text-align: center;border-radius: 24px;
        
    }
        .continer-barca-login input:hover{
            transform: scale(1.2);border-color: gold;

        }
        .continer-barca-login input::placeholder{background-image: linear-gradient(white,goldenrod,black)
          ;  background-clip:text;
           

        }
        .continer-barca-login button:hover{
            transform: scale(1.1);
        }
        .continer-barca-login button,.tiket button{text-transform:uppercase ;
            width: 47vw;height: 7vh;border-radius: 24px;color: rgb(0, 0, 0);background-color: goldenrod;margin-top: 2vw;
        font-size: 3vw;}
        .login-svg svg{
            width: 10vw;height: 10vh;margin: 0%;margin: 2vw;
            display: flex;align-items: center;flex-direction: row;
        }
        .login-svg svg:hover{
            transform: scale(1.4);
        }
        .login-svg{display: flex;flex-direction: row;
        justify-content: center;align-items: center;}
        .tous,.cloth,.cloth2{background-color: white;}
        .tiket div{background-color: white;
            display: flex;width: 100vw;

          align-items: center;

            
        }




  .tiket h1{
background-image: linear-gradient(white,goldenrod,black);
background-clip: text;text-align: center;
-webkit-text-fill-color: transparent;
  }
  .koba a{display: flex;flex-direction: row
    ;flex-wrap: wrap;width: 100vw;align-items: center;justify-content: center;
    
  }
  .koba{    background-image:linear-gradient(180deg,#080e1f ,#0e1f4e ,#461117 ,#311619,#a71b2ef1);
    width: 100vw;padding: 2vw;display: flex;align-items: center;justify-content: center;
  }
  .koba a:hover{
    transform: scale(1);
  }
.koba div {
    width:20vw;height: 20vh;color: goldenrod;background-image: url(https://www.fcbarcelona.com/resources/v2.96.1-6873/i/bg-elements/horizontal-flash@x2.jpg);
    box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.5);margin: 0 .8rem;margin: 1vw;
    display: flex;flex-direction: column;text-align: center;font-size: 2vw;
    align-items: center;justify-content: center;
}
.footer-trophies{
    width: 100%;
}
.koba div:hover{
    transform: scale(1.1);transition: 1s;
}
.footer-trophies svg{
    width: 2998;height:2889;fill: rgb(255, 183, 0);
}

.koba span {
    width: 100%;text-align: center;font-size: 1rem;
}
